/* 
    --------------------
    VARIABLES
    --------------------
*/

// Colors
$text: #ffffff;
$divAndFooterBg: #fcb900;
$button: #333333;
$sectionMainBg: #edf2f5;
$colorTextCard: #aaaaaa;
$colorTextFooter: #333333;

